@model Photographie.ViewModel.AboutMySelf

@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-top:80px">
    <h2 class="alert alert-primary">About My Self</h2>
    <div class="row">

        <div class="col-md-10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.prenom)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            @Model.Description.Substring(0, 80)....
                        </td>
                        <td>
                            <img src="~/MyImage/@Model.Image_" class="img-fluid" style="width:100px;height:100px;border-radius:50%">
                        </td>
                        <td>
                            @Html.DisplayFor(modelModel => Model.nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelModel => Model.prenom)
                        </td>
                        <td>
                            @if (Model.nom == null)
                            {
                                <a href="/AboutMySelf/Edit">Add Your Information</a>
                            }@if (Model.nom != null)
                            {
                                <a href="AboutMySelf/Edit">Edit</a>
                            }
                            | <a href="AboutMySelf/Details">Details</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
